@import '../../variables.scss';
html, body {
    height: 100%;
  
}

body {
    font-family: Roboto, Arial, sans-serif;
    background: #6D6D6D;
    color: #666;
    font-weight: 300;
    line-height: 24px;
    margin: 0;
}

strong {
    font-weight: 500;
}

h3 {
  
    background:$yellow-color;
    padding: 0.8em 16px;
    color: #fff;
    font-weight: normal;
    font-size: 2em;
    margin: 0;
}

h3 small {
    display: block;
    font-size: 16px;
    margin-top: 8px;
    font-style: italic;
    color:$yellow-color;
}

h4 {
    font-weight: normal;
    font-size: 1.2em;
    margin-top: 1em;
}

img {
    max-width: 100%;
}

.recipe {
    margin-bottom: 1em;
    background: #fff;
    box-shadow: 0px 1px 6px rgba(0,0,0,0.1);
    max-width: 1100px;
    margin: 0 auto;
}

.recipe-flex {
    display: flex;
}

.description {
    flex: 1 1 50%;
    padding: 2em 2em 1em 1em;
    background: #f5f5f5;
}

.plan {
    flex: 1 1 50%;
    min-width: 300px;
    display: flex;
    border-left: 3px solid #E8E8E8;
}

/* Them responsive awesomeness */
@media (min-height: 900px) {
    body {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .recipe-flex {
        flex-wrap: wrap;
    }
    .plan {
        border-left: 0;
    }
    .stages {
        margin-left: 24px;
    }
} 

/* the outer list */
.steps {
  margin: 2em 0 0 -3px;
  padding: 0 1em 0 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  counter-reset: steps; /* alternative to built-in list style that we can style */
}

/* the steps (li) */
.steps > li {
  padding: 28px 0 0 12px;
  flex: 1 1 100%;
  position: relative;
  border-left: 3px solid;
  counter-increment: steps;
}

/* this isn't needed, but I prefer some spacing at the bottom */
.steps > li:last-child {
  padding-bottom: 2em;
}

/* the smallish description label next to the bubble */
.steps > li::before {
  content: "Step " counter(steps) ": ";
  position: absolute;
  top: 3px;
  left: 24px;
  font-style: italic;
  color: #777;
  font-size: 12px;
}

/* the bubble with the number in it */
.steps > li::after {
  position: absolute;
  top: 0;
  left: -16px;
  background: #fff;
  border-radius: 20px;
  width: 24px;
  height: 24px;
  display: block;
  text-align: center;
  font-weight: 800;
  line-height: 26px;
  content: counter(steps);
  border: 3px solid;
}

/* the inner list within a step */
.steps ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 12px;
  padding-top: 3px;
}

.steps ul li {
  position: relative;
}

.steps ul li::before {
  content: "";
  width: 10px;
  height: 4px;
  display: block;
  position: absolute;
  top: 10px;
  left: -27px;
  border-radius: 10px;
}

/* Let's color our steps */
.steps > li:nth-child(1),
.steps > li:nth-child(1)::after { border-color:$yellow-color; }
.steps > li:nth-child(1) li::before { background-color:$yellow-color; }
.steps > li:nth-child(2),
.steps > li:nth-child(2)::after { border-color:$yellow-color; }
.steps > li:nth-child(2) li::before { background-color:$yellow-color; }
.steps > li:nth-child(3),
.steps > li:nth-child(3)::after { border-color:$yellow-color; }
.steps > li:nth-child(3) li::before { background-color:$yellow-color; }
.steps > li:nth-child(4),
.steps > li:nth-child(4)::after { border-color:$yellow-color; }
.steps > li:nth-child(4) li::before { background-color:$yellow-color; }
.steps > li:nth-child(5),
.steps > li:nth-child(5)::after { border-color:$yellow-color; }
.steps > li:nth-child(5) li::before { background-color:$yellow-color; }
.steps > li:nth-child(6),
.steps > li:nth-child(6)::after { border-color:$yellow-color; }
.steps > li:nth-child(6) li::before { background-color:$yellow-color; }