

     <div class="page-body">
             <div class="auth-form-wrapper register-form-wrapper">
                 <form [formGroup]="registerForm" (ngSubmit)="send();registerForm.reset()" method="POST" action="https://bannerreview.co/register">
                     <input type="hidden" name="_token" value="UCRvE8ogNi0xO8aHnKs3mFR9YxJLQ3JPObJIfSez">
                     <div class="form-header">
                         <h2 class="text-center">Register</h2>
                     </div>
 
                     <div class="form-row">
                         <div class="input-wrapper">
                             <input type="text" formControlName="name"  autofocus="">
                             <label for="name">name</label>
                             
                         </div>
                         <div class="error" *ngIf="registerForm.controls.name.touched&&registerForm.controls.name.errors">
                            שם הוא שדה חובה
                         </div>
                     </div>
                     <div class="form-row">
                        <div class="input-wrapper">
                            <input type="text" formControlName="address"  autofocus="">
                            <label for="name">address</label>
                            
                        </div>
                        <div  class="error" *ngIf="registerForm.controls.address.touched&&registerForm.controls.address.errors">
                            שדה כתובת הוא שדה חובה
                         </div>
                    </div>
                    <div class="form-row">
                        <div class="input-wrapper">
                            <input type="text" formControlName="mail"  autofocus="">
                            <label for="name">email</label>
                            
                        </div>
                        <div class="error" *ngIf="registerForm.controls.mail.touched&&registerForm.controls.mail.errors?.pattern">
                            כתובת אמייל לא חוקית
                         </div>
                         <div class="error" *ngIf="registerForm.controls.mail.touched&&registerForm.controls.mail.errors?.required">
             שדה מייל הוא שדה חובה
                         </div>
                    </div>
                    <div class="form-row">
                        <div class="input-wrapper">
                            <input type="text"  formControlName="password"   autofocus="">
                            <label for="name">password</label>
                           
                        </div>
                        <div class="error" *ngIf="registerForm.controls.password.touched&&registerForm.controls.password.errors?.maxlength">
                            הסיסמה חייבת להיות בת 8 תוים לכל היותר
                               </div>
                               <div class="error" *ngIf="registerForm.controls.password.touched&&registerForm.controls.password.errors?.required">
                שדה זה הוא שדה חובה 
                 </div>
                    </div>
                    <div class="form-row">
                        <div class="input-wrapper">
                            <input type="text"  formControlName="confirmPassword" autofocus="">
                            <label for="name">confirm password</label>
                            
                        </div>
                        <div class="error" *ngIf="registerForm.controls.confirmPassword.touched&&registerForm.controls.confirmPassword.errors?.required">
                            שדה זה הוא שדה חובה 
                          </div>
                            <div class="error" *ngIf="registerForm.controls.password.touched&&
                            registerForm.controls.confirmPassword.touched&&
                            registerForm.errors?.confirmationError">
                               {{registerForm.errors.confirmationError.massege}}
                         </div>
                    </div>
                    <div class="error" *ngIf="repitedName">שם משתמש כבר קיים ,שנה שם! </div>
                     <div class="form-action">
                         <div>
                             <button type="submit"   [disabled]="!registerForm.valid"  class="btn btn-primary">
                                 Register
                             </button>
                         </div>
                     </div>
                 </form>
             </div>
         </div>